*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --mainColor: #DCDDDE;
    --mainColorLight:#EEEEEF;
    --textColor: #1E1F21;
    --mainFont: Neue Haas Grotesk;
}